= turbo_stream.prepend 'comments' do
  = render 'comments/comment_unit', comment: @comment, scene_collection: @scene_collection
= turbo_stream.replace 'new_comment' do
  = render 'comments/form', comment: @scene_collection.comments.build, scene_collection: @scene_collection, action: 'create'
